src/main/mule/communication-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getCommunicationsFromContract" doc:id="5d07c37c-24cb-4d04-bdda-907efdf1def0" >
		<flow-ref doc:name="Set Contact Id" doc:id="a816f574-8f5c-4002-abb6-50a9ebfb80a7" name="setContactId"/>
		<db:select doc:name="Get Communications From Contact" doc:id="06b0c063-5e4f-4edb-8c3a-0841fa94270d" config-ref="Database_Config">
			<db:sql >SELECT * FROM communication
WHERE identification_id = :identificationId</db:sql>
			<db:input-parameters ><![CDATA[#[{'identificationId': vars.contactId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="913045af-00ea-4c56-9353-6e190b0c3205" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postCommunicationFromContact" doc:id="71c2d2ae-ad0a-4e7c-9082-15382071de51" >
		<flow-ref doc:name="Set Contact Id" doc:id="22f7217c-9ef8-471e-8e53-a60e9e5ee36d" name="setContactId"/>
		<db:insert doc:name="Insert Communicatio from Contact" doc:id="74346229-7e35-435c-8641-5d5537f927b9" config-ref="Database_Config">
			<db:sql >INSERT INTO communication
(type, value, preffered, identification_id)
VALUES
(:type, :value, :preffered, :identificationId)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'type': payload.'type', 'value': payload.value, 
	'preffered': payload.preffered, 'identificationId': vars.contactId
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="b7c0abd9-7388-45e1-9cc6-7eba98eef93d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Communication successfully added!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCommunicationFromContact" doc:id="cc8ae2ea-8d3f-4c21-aa4d-329dbaa5ec55" >
		<flow-ref doc:name="Set Contact Id" doc:id="885f4c95-55f6-4df9-8ad4-c6cef19db694" name="setContactId"/>
		<flow-ref doc:name="Set Communcation Id" doc:id="f1cf44bb-9cc4-4def-b40e-8bd5f8ce8faf" name="setCommunicationId"/>
		<db:select doc:name="Get Communication From Contact" doc:id="66a9db80-9fd8-46fe-91b0-ff7992ac7702" config-ref="Database_Config">
			<db:sql >SELECT * FROM communication
WHERE id = :id
	AND identification_id = :identificationId</db:sql>
			<db:input-parameters ><![CDATA[#[{'id': vars.communicationId, 'identificationId': vars.contactId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="50bc4d5e-0942-4232-8ddd-a172ae50746f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="patchCommunicationFromContact" doc:id="3abb958d-aa9e-4922-96cb-404e160de548" >
		<flow-ref doc:name="Set Contact Id" doc:id="173c3cc9-5d86-40ff-a7e6-e4184f2c0adc" name="setContactId"/>
		<flow-ref doc:name="Set Communication Id" doc:id="7707930d-cf03-4c15-b0db-cc5a6faee7a0" name="setCommunicationId"/>
		<db:update doc:name="Update Communication From Contact" doc:id="c5c0c930-ea4b-4522-a447-8d2d908f59e5" config-ref="Database_Config">
			<db:sql >UPDATE communication
SET type=:type, value=:value, preffered=:preffered
WHERE id = :id
	AND identification_id = :identificationId</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'type': payload.'type', 'value': payload.value, 
	'preffered': payload.preffered, 'identificationId': vars.contactId,
	'id': vars.communicationId
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="38825381-2ad0-4f75-a185-22d310578176" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Communication successfully updated!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteCommunicationFromContact" doc:id="71856b59-4e4b-4fc8-bd54-cee295eb6687" >
		<flow-ref doc:name="Set Contact Id" doc:id="1e19359b-4e0b-4977-8519-a963c6c860c9" name="setContactId"/>
		<flow-ref doc:name="Set Communication Id" doc:id="aa146b97-7497-4a04-bdce-ad98a3b230b9" name="setCommunicationId"/>
		<db:delete doc:name="Delete Communication From Contact" doc:id="7d7325b9-8c69-4e97-92e6-a912e1f52d9b" config-ref="Database_Config">
			<db:sql >DELETE FROM communication
WHERE id = :id
	AND identification_id = :identificationId</db:sql>
			<db:input-parameters ><![CDATA[#[{'id': vars.communicationId, 'identificationId': vars.contactId}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="35ef84d2-3245-4817-aa23-f4d9bd59ed13" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Communication successfully deleted!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
