src/main/mule/identification-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getContacts" doc:id="1ccd26a2-65f7-442a-aabd-8f31ce659205" >
		<flow-ref doc:name="Get All Contacts" doc:id="7af7277d-c38f-4bb4-8ef8-832cfdae1473" name="getAllContacts" />
		<ee:transform doc:name="Transform Message" doc:id="16aee4b8-bd1a-4b58-ae6d-b3b57ff58481" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[[]]" doc:name="Set Contacts" doc:id="0d6f7ab5-5994-4e6d-8f96-fd3202f953f1" variableName="contacts"/>
		<foreach doc:name="For Each" doc:id="631a40f1-1108-45cb-aca2-6366c0d5632f" collection="payload">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="69978d9d-b1b5-4bce-ab1c-ebe1c6000c0d" variableName="identification"/>
			<flow-ref doc:name="Get Addresses And Communications From Contact" doc:id="0badac03-c2c0-41d2-a412-9dc44bb3bf84" name="getAddressessAndCommunicationsFromContact"/>
			<ee:transform doc:name="Transform Message" doc:id="80493c2f-8444-4379-ae1f-9ffd7ebc6c58" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"identification": vars.identification,
	"address": vars.addresses,
	"communications": vars.communications
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
				</ee:variables>
			</ee:transform>
			<set-variable value="#[payload]" doc:name="Set Contacts" doc:id="9cb5b568-834c-493c-8759-2d29dd36c5fd" variableName="contacts"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="d12e2aa6-dc6e-4e46-b022-d76268f11195" message="#[vars.contacts]"/>
		<ee:transform doc:name="Transform Message" doc:id="989727a9-27cb-412d-8587-02086f57e0db">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[vars.contacts]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="getAddressessAndCommunicationsFromContact" doc:id="ef5ff6fd-1e43-46f8-a775-3a5f77a618ca" >
		<set-variable value="#[payload.id]" doc:name="Set Contact Id" doc:id="55164f96-0f64-4659-9a48-21351fbd3aaa" variableName="contactId"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="96a4ac68-c2b7-4395-a29e-70877acbd32f" >
			<route >
				<flow-ref doc:name="Get Addresses" doc:id="3701110e-7ca6-4f1c-a946-6e6c25ecd9dd" name="getSubAddressesFromContact"/>
				<set-variable value="#[payload]" doc:name="Set Addresses" doc:id="7850b52e-519f-4c66-ae0b-e246295f5359" variableName="addresses"/>
			</route>
			<route >
				<flow-ref doc:name="Get Communications" doc:id="cfc3c6a9-b2fa-4dc6-8212-d654d0cdc439" name="getSubCommunicationsFromContact"/>
				<set-variable value="#[payload]" doc:name="Set Communications" doc:id="7f5a8060-079f-420f-9b95-80c3145d1974" variableName="communications"/>
			</route>
		</scatter-gather>
	</sub-flow>
	<flow name="getAllContacts" doc:id="568322bf-fd28-4e2c-96d1-5fce0a30349d" >
		<db:select doc:id="add642a4-385c-4c44-9fba-12fdf40a4256" config-ref="Database_Config" doc:name="Get Contacts">
			<db:sql>SELECT * FROM identification</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2b87744c-913a-4076-8dfc-15a8e0b2df79">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postContacts" doc:id="dadd7d1e-16f4-48ca-ae39-2921dfbf848c" >
		<db:insert doc:name="Insert Contacts" doc:id="90166574-60bf-411c-bb13-5759e24797f7" config-ref="Database_Config">
			<db:sql >INSERT INTO identification
	(firstName, lastName, dob, gender, title)
VALUES
	(:firstName, :lastName, :dob, :gender, :title)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'firstName': payload.firstName, 'lastName': payload.lastName,
	'dob': payload.dob, 'gender': payload.gender, 'title': payload.title
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="108b9fb2-65ea-467a-bb4f-a717ae54a7d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Contact successfully added!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getContactsById" doc:id="24411f1c-53b5-4199-bc64-df6628554945" >
		<flow-ref doc:name="Set Contact Id" doc:id="07bce48a-8119-48a9-8fd8-ff13b02a5dc2" name="setContactId"/>
		<db:select doc:name="Get Contacts By Id" doc:id="601031ed-fcea-41c4-83ab-3efd3c6ae3c4" config-ref="Database_Config">
			<db:sql >SELECT * FROM identification
WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{'id' : vars.contactId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b7b0f3f4-19ef-409d-b009-f23a9e3cd4fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a48e7d9c-2c1c-40b5-9f0a-6a639262ca70" message="#[payload]"/>
	</flow>
	<flow name="patchContactsById" doc:id="5f426164-c7cf-4a0a-a2a2-dd6a10044bfc" >
		<flow-ref doc:name="Set Contact Id" doc:id="fd839cdb-cae7-426c-9d4d-c9c36cdf62fc" name="setContactId"/>
		<db:update doc:name="Update Contacts by id" doc:id="dd40858b-d223-4da9-95ea-0a04549909e9" config-ref="Database_Config">
			<db:sql >UPDATE identification
SET firstName=:firstName, lastName=:lastName, dob=:dob, gender=:gender, title=:title 
WHERE id=:id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'firstName': payload.firstName, 'lastName': payload.lastName,
	'dob': payload.dob, 'gender': payload.gender, 'title': payload.title,
	'id': vars.contactId
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="7471767c-8ee7-4b77-829e-28fb836598f9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Contact successfully updated!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteContactById" doc:id="25895986-1408-40e2-bf23-0f6926f2619e" >
		<flow-ref doc:name="Set Contact Id" doc:id="58e4ff96-31a1-4608-898d-9e2a8315faf5" name="setContactId"/>
		<db:delete doc:name="Delete Contacts By Id" doc:id="fd94e297-f89e-4658-b6aa-265c7ae2b6d7" config-ref="Database_Config">
			<db:sql >DELETE FROM identification
WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{'id': vars.contactId}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="86b177c9-ee56-4ad6-a71f-36ab01ed7888" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Contact successfully deleted!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	

</mule>
